.container__box {
    width:100%;
    height:90%;
    display: flex;
    border: 1px solid rgb(203 213 225);
}
.container__textarea {
    width: 96%;
    border: none;
}
.container__lines {
    border-right: 1px solid rgb(203 213 225);
}
