<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHACL Validator - Home</title>
    <!--    import bootstrap and jQuery -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='homepage_favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<!--container for upload form fields -->
<div class="container-fluid">
    <div class="row" style="background-color:#F8F8F8;">
        <div class="col-7">
            <h2 class="text-center text-dark mt-2 float-end">SHACL Validator</h2>

        </div>
        <div class="col-5 my-auto">
            <a href="" class="float-end text-decoration-none text-muted fw-normal" target="_blank">
                <span class="bi bi-play-btn btn-lg btn">
                    Video Demo
                </span>

            </a>

        </div>
    </div>
    <div class="row text-center mt-3">
        <p class="text-muted">Start Validating RDF Data by uploading associated SHACL Constraints</p>
    </div>

    <!--    <form class="text-center my-1" action="{{ url_for('index') }}" id="mapping-form" method="POST" enctype="multipart/form-data" >-->
    <!--        <div class="row">-->
    <!--            <div class="form-group">-->
    <!--                <div class="input-group mb-3 w-75 mx-auto">-->
    <!--                    <div class="input-group-prepend">-->
    <!--                        <span class="input-group-text btn btn-secondary">Data Graph (RDF)</span>-->
    <!--                    </div>-->
    <!--                    <input class="form-control" type="file" name="mapping-file" id="mapping-file" accept=".ttl">-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="form-group">-->
    <!--                <div class="input-group mb-3 w-75 mx-auto">-->
    <!--                    <div class="input-group-prepend">-->
    <!--                        <span class="input-group-text btn btn-secondary">SHACL Shapes (RDF)</span>-->
    <!--                    </div>-->
    <!--                    <input class="form-control" type="file" name="source-data" id="source-data" accept=".csv, .xlsx, .json, .xml" multiple>-->
    <!--                    <div class="input-group-append">-->
    <!--                        Type Graph-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="row my-4">-->
    <!--            <div class="col-12">-->
    <!--                <button type="button" class="btn btn-secondary btn-sm float-start clear-button" style="margin-left:12.2%;">Clear Graphs</button>-->
    <!--                <button type="submit" id="submit-button" class="btn btn-primary spinner-button" style="margin-right:18%;">Execute</button>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--</form>-->
    <form class="text-center my-1" action="{{ url_for('index') }}" id="upload-form" method="POST" enctype="multipart/form-data" >
        <div class="row">
            <div class="col-6">
                <div class="card text-dark mb-3" id="Data-Graph">
                    <div class="card-header h5">Data Graph</div>
                    <div class="card-body">
                        <p class="card-text">Please upload the Data Graph using only <strong>one</strong> of the below options</p>
                        <div class="input-group mb-3 w-75">
                            <input class="form-control" type="file" name="data-graph-file" id="data-graph-file" accept=".ttl, .xml, .owl, .jsonld">
                            <span class="input-group-text">
                            <i data-toggle="tooltip" data-placement="top" title="RDF File to be validated" class="bi bi-info-circle"></i>
                        </span>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Graph URI</span>
                            <input type="url" class="form-control" name="data-graph-uri" id="data-graph-uri" placeholder="Enter URI to Graph" aria-label="Username" aria-describedby="basic-addon1">
                            <span class="input-group-text">
                              <i data-toggle="tooltip" data-placement="top" title="File path of the graph to be validated" class="bi bi-info-circle"></i>
                          </span>
                        </div>
                        <span class="float-start">
                            <label for="data-graph-text" class="form-label">Paste RDF Data</label>
                            <i data-toggle="tooltip" data-placement="top" title="RDF Data to be validated" class="bi bi-info-circle ms-2"></i>
                        </span>
                        <!--                        <button type="button" class="btn btn-sm btn-secondary float-end mb-2 add-sample-graph">Add Sample Graph</button>-->

                        <select class="form-select w-auto float-end bg-light mb-2" aria-label="Default select example">
                            <option selected>Add Sample Graph</option>
                            <option value="1">Sample TTL #1</option>
                            <option value="2">Sample XML</option>
                            <option value="3">Sample JSON-LD</option>
                            <option value="4">Sample TTL #2</option>
                        </select>
                        <div class="container__box input-group">
                            <div id="data-line-numbers" class="container__lines pe-2"></div>
                            <textarea id="data-graph-text" class="container__textarea" name="data-graph-text" rows="19"></textarea>
                        </div>

                        <!--                        <textarea class="form-control" name="data-graph-text" id="data-graph-text" rows="18"></textarea>-->

                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card text-dark mb-3" id="SHACL-Graph">
                    <div class="card-header h5">SHACL Graph</div>
                    <div class="card-body">
                        <p class="card-text">Please upload the SHACL Graph using only <strong>one</strong> of the below options</p>
                        <div class="input-group mb-3 w-75">
                            <input class="form-control" type="file" name="shacl-graph-file" id="shacl-graph-file" accept=".ttl">
                            <span class="input-group-text">
                            <i data-toggle="tooltip" data-placement="top" title="RDF File to be validated" class="bi bi-info-circle"></i>
                        </span>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Graph URI</span>
                            <input type="url" class="form-control" placeholder="Enter URI to Graph" name="shacl-graph-uri" id="shacl-graph-uri" aria-label="Username" aria-describedby="basic-addon1">
                            <span class="input-group-text">
                            <i data-toggle="tooltip" data-placement="top" title="File path of the graph to be validated" class="bi bi-info-circle"></i>
                        </span>
                        </div>

                        <span class="float-start">
                            <label for="shacl-graph-text" class="form-label">Paste RDF Data</label>
                            <i data-toggle="tooltip" data-placement="top" title="RDF Data to be validated" class="bi bi-info-circle ms-2"></i>
                        </span>
                        <!--                        <button type="button" class="btn btn-sm btn-secondary mb-2 float-end add-sample-graph">Add Sample Graph</button>-->
                        <select class="form-select w-auto float-end bg-light mb-2" aria-label="Default select example">
                            <option selected>Add Sample Graph</option>
                            <option value="1">Sample #1</option>
                            <option value="2">Sample #2</option>
                            <option value="3">Sample #3</option>
                        </select>
                        <div class="container__box input-group">
                            <div id="shacl-line-numbers" class="container__lines pe-2"></div>
                            <textarea id="shacl-graph-text" class="container__textarea" name="shacl-graph-text" rows="19" style="resize:none;"></textarea>
                        </div>

                        <!--                        <textarea class="form-control mt-1" name="shacl-graph-text" id="shacl-graph-text" rows="18"></textarea>-->

                    </div>
                </div>
            </div>
        </div>

        <div class="row my-4">
            <div class="col-12 text-center">
                <button type="button" class="btn btn-secondary btn-sm float-start clear-button" name="Data-Graph">Clear Data Graph</button>
                <button type="button" class="btn btn-secondary btn-sm float-end clear-button" name="SHACL-Graph">Clear SHACL Graph</button>
                <button type="submit" id="submit-button" class="btn btn-primary spinner-button">Execute</button>
            </div>
        </div>

    </form>


    <!--display debugging information depending on error detected by Morph-KGC-->
    <!--    {% with messages = get_flashed_messages() %}-->
    <!--    {% if messages %}-->
    <!--    {% for msg in messages %}-->
    <!--    <div class="alert alert-danger mt-3 w-50 mx-auto"  role="alert">-->
    <!--        <h3 class="alert-heading fw-normal">Error</h3>-->
    <!--        {% if "Bad syntax" in msg %}-->
    <!--        <h6>Incorrect Syntax in Mapping! Validate <a href="http://ttl.summerofcode.be/" target="_blank">Here</a></h6>-->
    <!--        {% elif "'object_map'" == msg or "single positional indexer is out-of-bounds" == msg or "'object'" == msg %}-->
    <!--        <h6>Mapping does not follow <a href="https://rml.io/specs/rml/" target="_blank">RML Specification</a></h6>-->
    <!--        {% elif "No such file" in msg %}-->
    <!--        <h6>One or more of the Data Source Files mentioned in Mapping File have not been Uploaded!</h6>-->
    <!--        {% endif %}-->
    <!--        <p>{{msg | safe}}</p>-->
    <!--    </div>-->
    <!--    {% endfor %}-->
    <!--    {% endif %}-->
    <!--    {% endwith %}-->

</div>

<div class="modal fade" id="modal" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="modal-dialog">
        <div class="modal-content" id="success-modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="modal-title">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>


<script>
    // show pop-ups as a success or error message
    function showErrorMessage(error_message){
         $("#modal-title").addClass("text-danger").removeClass("text-success").text("Error");
         $("#modal-body").html(error_message);
         $("#modal").modal("show");
    }
    function showSuccessMessage(success_message){
         $("#modal-title").addClass("text-success").removeClass("text-danger").text("Success");
         $("#modal-body").html(success_message);
         $("#modal").modal("show");
    }
</script>
<script>
    // turn button into spinner when pressed
    $(document.body).on('click', '.spinner-buttonsssssss' ,function(e){
          $(this).css("pointer-events", "none");
          $(this).text("");
          $(this).attr("class", "spinner-border");
    });

    // reset the form if clear button clicked
    $('.clear-button').click(function(){
       var content_div = $(this).attr("name");
       $(`#${content_div}`).find("input, textarea").val("").trigger("input");
       $(`#${content_div}`).find('select').prop('selectedIndex',0);
    });


     $('select').on('change', '', function (e) {
       var parent_text_area = $(this).parent().find("textarea");
       $(this).parent().find("input, textarea").val("");
       var text_area_name = $(this).parent().find("textarea").attr("name");
       var selected_graph = $(this).val();
       if (text_area_name == "shacl-graph-text") {
           if (selected_graph == "0") {
               var file_contents  = ``;
           }
           else if (selected_graph == "1") {
               var file_contents  = `{{ sample_shacl_graph_1 | safe}}`;
           }
           else if (selected_graph == "2") {
               var file_contents  = `{{ sample_shacl_graph_2 | safe}}`;
           }
           else if (selected_graph == "3") {
               var file_contents  = `{{ sample_shacl_graph_3 | safe}}`;
           }
       } else {
           if (selected_graph == "0") {
               var file_contents  = ``;
           }
           else if (selected_graph == "1") {
               var file_contents  = `{{ sample_data_graph_ttl | safe}}`;
           }
           else if (selected_graph == "2") {
               var file_contents  = `{{ sample_data_graph_xml | safe}}`;
           }
           else if (selected_graph == "3") {
                var file_contents  = `{{ sample_data_graph_jsonld | safe}}`;
           }
           else if (selected_graph == "4") {
                var file_contents  = `{{ sample_data_graph_ttl_2 | safe}}`;
           }
       }
       parent_text_area.val(file_contents).trigger("input");
    });

    $('.add-sample-graph').click(function(){
       var parent_text_area = $(this).parent().find("textarea");
       $(this).parent().find("input, textarea").val("");
       var text_area_name = $(this).parent().find("textarea").attr("name");
       if (text_area_name == "shacl-graph-text") {
           var file_contents  = `{{ sample_shacl_graph | safe }}`;
       } else {
           var file_contents  = `{{ sample_data_graph | safe}}`;
       }
       parent_text_area.val(file_contents).trigger("input");
    });
</script>
<script>
    function validateUploadForm(){
        var valid_form = true;
        // check if only one input provided for Data and SHACL graph
        var div_id = ["Data-Graph", "SHACL-Graph"];
        var input_count = 0;
        for (let i = 0; i < div_id.length; i++) {
            var current_id = div_id[i];
            $(`#${current_id}`).find("input, textarea").not(':input[type=submit]').each(function() {
                var current_value = $(this).val();
                if (current_value.trim() != ""){
                   input_count = input_count + 1;
                   // alert(current_value);
                }
            });
            if (input_count > 1) {
                valid_form = false;
                showErrorMessage(`Please provide only one source for ${current_id.replace("-", " ")}`);
            }
            if (input_count == 0) {
                valid_form = false;
                showErrorMessage(`No ${current_id.replace("-", " ")} uploaded!`);
            }
            if (!valid_form) {
               return valid_form;
            }
            input_count = 0;
        }
        return valid_form;
    }
</script>
<script>
    $(document).on('submit','#upload-form',function(e) {
        e.preventDefault();
        $("#download-button").remove();
        $("#modal-dialog").removeClass("modal-xl");
        var valid_form = validateUploadForm();
        if (!valid_form) {
           return false;
        }
        var shacl_filename =  $('#shacl-graph-file').val();
        if (shacl_filename && !shacl_filename.endsWith(".ttl")) {
             showErrorMessage("SHACL Graph File Type Error!");
             return false;
        }
        var data_filename =  $('#data-graph-file').val();
        if (data_filename && !data_filename.match(/(ttl|owl|xml|jsonld)$/)) {
             showErrorMessage("Data Graph File Type Error!");
             return false;
        }
        var form_data = new FormData();
        form_data.append('data-graph-file', $('#data-graph-file').prop('files')[0]);
        form_data.append('data-graph-text', $('#data-graph-text').val());
        form_data.append('data-graph-uri', $('#data-graph-uri').val());
        form_data.append('shacl-graph-file', $('#shacl-graph-file').prop('files')[0]);
        form_data.append('shacl-graph-text', $('#shacl-graph-text').val());
        form_data.append('shacl-graph-uri', $('#shacl-graph-uri').val());
        $.ajax({
            type:'POST',
            url:'{{ url_for("execute_shacl_shape") }}',
            processData: false,
            contentType: false,
            data: form_data,
            success:function(response)
            {
               error_message = response["error_message"];
               if (error_message) {
                  var error_banner = response["error_banner"];
                  var error_message_html = `<p>${error_banner}</p> <div class="alert alert-danger">${error_message}</div> <p>Turtle RDF can be validated at the following <a href="http://ttl.summerofcode.be/" target="_blank">Link</a> </p>`;
                  showErrorMessage(error_message_html);
                  return false;
               }
               var shacl_conformance = response["conforms"];
               var shacl_result_text = response["results_text"];
               var shacl_result_graph = response["results_graph"];
               if (shacl_conformance == false) {
                   var shacl_results_html = `
                    <p>The Graph generated <strong>Failed SHACL Validation</strong>.
                    The following SHACL Validation Report was generated:</p>
                    <pre class="py-2 alert alert-danger">${shacl_result_text}</pre>
                    <p>The report is represented using the <a href="https://www.w3.org/TR/shacl/#dfn-validation-report-vocabulary" target="_blank"> SHACL Validation Report Vocabulary.</a>  </p>
                  `;
                   $("#modal-dialog").addClass("modal-xl");
                   var download_button = '<a id="download-button" class="btn btn-success  mx-auto mb-3 w-25">Download Report (.ttl)</a>';
                   $("#modal-body").after(download_button);
                   var download_button = $("#download-button");
                   var filename = "shacl_report.ttl";
                   var download_data = 'data:text/plain;charset=utf-8,' + encodeURIComponent(shacl_result_graph);
                   $(download_button).attr({
                              'download': filename,
                              'href': download_data,
                              'target': '_blank'
                   });
                   showErrorMessage(shacl_results_html);
               } else {
                   showSuccessMessage("SHACL Validation Passed!");
               }
            }
       })
    });
</script>
<script>
    // initialize tool tips
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script>
    // initialize variables to track line numbers
    var textarea;
    var lineNumbersEle;

    // add line numbers to textarea
    var displayLineNumbers = () => {
        var lines = textarea.value.split('\n');
        lineNumbersEle.innerHTML = Array.from({
            length: lines.length,
        }, (_, i) => `<div>${i + 1}</div>`).join('');
    }

    // detect changes to lines in textarea
    $("textarea").on('propertychange input', function (e) {
        var textarea_id = $(this).attr("id");
        textarea = document.getElementById(textarea_id);
        var line_numbers_id = $(this).parent().find(".container__lines").attr("id");
        lineNumbersEle = document.getElementById(line_numbers_id);
        displayLineNumbers();
    });

    // initialize line numbers
    $("textarea").trigger("input");
</script>
